{{ partial "header.html" . }}

{{if not .IsHome }}
<h1>{{ .Title | markdownify }}</h1>
{{ end }}

{{ .Content }}

<ul>
  {{ $pages := .Pages }}
  {{ if .IsHome }}{{ $pages = .Site.RegularPages }}{{ end }}
  {{ range (where $pages "Section" "!=" "") }}
  {{ if and .Permalink (ne .Params.Hidden true) }}
  <li>
    <a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
    {{ with .Date }}
    <span class="date">{{ .Format "2006/01/02" }}</span>
    {{ end }}
  </li>
  {{ end }}
  {{ end }}
</ul>

{{ partial "footer.html" . }}
